 h1{
    text-align: center;
 }
 span{
    font-size: 150px;
    animation-name: span;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
 @keyframes span{
    0%{
        color: crimson;
    }
    30%{
        color: gold;
    }
    60%{
        color: green;
    }
    100%{
        color: deepskyblue;
    }
 }